img{
    border-radius: 0 50px 0 50px;}

@media  (min-width:376px) and (max-width:968px){
        .heading-text{
            padding: 0 20% 0 0;  
        }
        .fri{
            margin-bottom: 5%;
        }
        .sec{
            margin-bottom: 8%;
            margin-left: 4%;
        }
        .product{
            color: white;
        }
    }